.offcanvas-container {
	position: relative;
	-webkit-transition: left 0.5s, -webkit-transform 0.5s;
}

.offcanvas-menu {
	position: absolute;
	left: -20em;
	top: 0;
	bottom: 0;
	width: 20em;
}

.offcanvas-menu .offcanvas-toggle {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
}

.offcanvas-container.offcanvas-active {
	position: relative;
	-webkit-transform: translate3d(20em, 0, 0);
}

.offcanvas-menu-list {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 20em;
	padding-top: 1.5em;
	overflow: hidden;
}
.offcanvas-menu-sublist {
	position: absolute;
	left: -20em;
	top: 0;
	bottom: 0;
	z-index: 2;
	width: 20em;
	-webkit-transition: left 0.5s, -webkit-transform 0.5s;
	overflow: hidden;
}
.offcanvas-menu-sublist.offcanvas-menu-sublist-active {
	-webkit-transform: translate3d(20em, 0, 0);
}

/* Skin */
.offcanvas-menu-list {
	background: #eee;
}
.offcanvas-menu-sublist {
	background: #ddd;
}
.offcanvas-menu-sublist .offcanvas-menu-sublist {
	background: #ccc;
}